@font-face {
    src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
}

@font-face {
    src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    font-family: 'Montserrat', sans-serif;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

html,
body {
    font-family: 'Montserrat';
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.picture img {
    margin-top: 5px;
}


/* title */

.describe-part p {
    text-align: justify;
    line-height: 30px;
    font-size: 17px;
}

.hotline-text {
    text-align: center;
}

.hotline-text h3 {
    font-size: 21px;
    margin-bottom: 25px;
}

.hotline-text span {
    font-size: 30px;
}

.hotline-app h3 {
    text-align: center;
    font-size: 25px;
}

.hotline-icon-1 img {
    width: 200px;
    padding-left: 32px;
}

.hotline-icon-2 img {
    width: 200px;
    padding-left: 32px;
}


/* protfolio */

.protfolio h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}

.protfolio__content {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: auto;
    padding-left: 40px;
    grid-gap: 10px;
}

.protfolio__items {
    position: relative;
}

.protfolio__items img {
    width: 346px;
    height: 236px;
}

.protfolio__detail {
    position: absolute;
    top: 0px;
    font-size: 15px;
    padding: 30px 43px;
    background-color: rgba(0, 0, 0, .72);
    opacity: 0;
    transition: all .5s;
}

.protfolio__detail h1 {
    color: aqua;
    font-size: 1.5em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-bottom: 40px;
}

.protfolio__detail p:nth-child(2) {
    color: white;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 25px;
}


/* about  */

.about__title,
.about__us h1 {
    text-align: center;
    font-size: 50px;
    padding: 30px 0;
}

.about__items {
    padding-top: 80px;
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.about__item {
    text-align: center;
    position: relative;
}

.about__circle {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    padding: 31px;
    position: absolute;
    left: 50%;
    top: -54%;
    transform: translate(-50%, -50%);
}

.about__item p {
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 1px;
}

.about__item h3 {
    min-height: 85px;
}


/* map  */

.map {
    margin-top: 30px;
    background-color: #bbb;
    border: 2px solid #00b6e3;
    padding: 1em;
}

.map iframe {
    border: none;
}


/* footer  */

.footer-bg {
    color: #fff;
}

.block-footer {
    padding: 20px 0;
    background: #07589a;
}

.block-footer .title {
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.lh2-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.block-footer ul li a {
    padding: 5px 0;
    border-bottom: solid 1px rgba(235, 235, 235, 0.3);
    display: block;
    color: #fff;
}

.block-footer input {
    border-radius: 3px 0 0 3px;
    float: left;
    width: calc(100% - 35px);
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    color: #fff;
    background: none;
    border: solid 1px rgba(235, 235, 235, 0.3);
}

.block-footer button {
    width: 35px;
    border: none;
    background: #0b76ce;
    height: 35px;
    color: #fff;
    border-radius: 0 3px 3px 0;
}


/* back top top */

#bttop {
    border: 1px solid #4adcff;
    background: rgba(3, 79, 142, 0.7);
    text-align: center;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 36px;
    position: fixed;
    bottom: 35px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    border-radius: 50%;
}

#bttop:hover {
    border: 1px solid #ffa789;
    background: #333333;
    transition-duration: 1s;
}


/* css check 1 */

.clearfix:before,
.clearfix:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after {
    content: " ";
    display: table;
}

.clearfix:after,
.navbar:after,
.navbar-header:after {
    clear: both;
}


/* universal box */

.box {
    background: #fff;
    margin: 0 0 30px;
    box-sizing: border-box;
    padding: 20px 0;
    border-left: none;
    border-right: none;
}

@media (max-width: 991px) {
    #product-social {
        text-align: center;
    }
}

#checkout .nav li a {
    display: block;
    height: 100%;
}


/* nav */

.nav>li>a {
    padding: 10px 15px;
}

.nav>li.disabled>a {
    color: #999999;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified>li>a {
        border-bottom: 1px solid #38a7bb;
        border-radius: 0 0 0 0;
    }
    .nav-tabs.nav-justified>.active>a,
    .nav-tabs.nav-justified>.active>a:hover,
    .nav-tabs.nav-justified>.active>a:focus {
        border-bottom-color: #ffffff;
    }
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #ffffff;
    background-color: #38a7bb;
}

.nav-justified {
    width: 100%;
    border-bottom: solid 1px #38a7bb;
}

.nav-justified>li>a {
    text-align: center;
    margin-bottom: 5px;
}


/* scaffolding */

.box ul li a {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
}

a {
    color: #38a7bb;
    text-decoration: none;
}


/* css check 2 */


/* css check 3 */

.contact h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}

.contact__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
}

.contact__left input {
    width: 100%;
    color: #000;
    background-color: rgba(239, 239, 239);
    margin-bottom: 1em;
    padding: 8px 8px;
    font-size: 1em;
    border: none;
    border-bottom: solid 2px #999;
}

.contact__right {
    margin-left: 50px;
}

.contact__right textarea {
    resize: none;
    height: 182px;
    width: 100%;
    color: #000;
    background-color: rgba(239, 239, 239);
    border: none;
    border-bottom: solid 2px #999;
}

.contact__right button {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: black;
    color: white;
    border: none;
}


/* universal box */

.box {
    background: #fff;
    margin: 0 0 30px;
    box-sizing: border-box;
    padding: 20px 0;
    border-left: none;
    border-right: none;
}

@media (max-width: 991px) {
    #product-social {
        text-align: center;
    }
}

#checkout .nav li a {
    display: block;
    height: 100%;
}


/* scaffolding */

.label {
    display: inline-block;
}

#content-steps .panel {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}


/* css check 4 */


/* universal box */

.box {
    margin: 0 0 30px;
    box-sizing: border-box;
    padding: 20px 0;
    border-left: none;
    border-right: none;
}

@media (max-width: 991px) {
    #product-social {
        text-align: center;
    }
}

#checkout .nav li a {
    display: block;
    height: 100%;
    text-decoration: none;
}


/* scaffolding */

#content-steps .panel {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.panel ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn-block {
    display: block;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}


/* css login  */

.btn-support {
    margin-top: 20px;
    font-size: 20px;
}

.btn-flat {
    position: relative;
    padding-left: 45px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-support .icon-flat {
    padding: 0 12px;
}

.icon-flat {
    position: absolute;
    left: 14px;
    top: 12px;
}

.row {
    margin-top: 20px;
}

#login-page #body-login .border {
    padding: 20px 10px;
}


/* css contact */

.module-contact p.lh2-title1 {
    color: #0b76ce;
    border-bottom: dashed 1px #ebebeb;
    margin-bottom: 40px!important;
    padding-bottom: 15px;
    padding-top: 20px;
}

p.lh2-title1 {
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    font-size: 26px;
}

p {
    margin-top: 0;
}

.module-contact .input-position {
    position: relative;
}

.module-contact .input-position input {
    padding-left: 40px;
    background: none;
    height: 35px;
    line-height: 35px;
    border: solid 1px #ebebeb;
    border-radius: 5px;
    margin-bottom: 20px;
}

.module-contact .input-position i {
    position: absolute;
    top: 10px;
    color: #0b76ce;
    left: 15px;
    font-size: 16px;
}

.module-contact input[type='text'] {
    width: 100%;
}

.module-contact .input-position textarea {
    padding-left: 40px;
    padding-top: 7px;
    background: none;
    border: solid 1px #ebebeb;
    border-radius: 5px;
    margin-bottom: 20px;
}

.module-contact textarea {
    width: 100%;
}

.module-contact .lh2-button {
    border-radius: 5px;
    font-weight: bold;
    overflow: hidden;
    background: #0b76ce;
    text-transform: uppercase;
    color: #fff;
}

.lh2-button {
    height: 40px;
    width: 145px;
    border: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
}

.module-contact .form .right p {
    margin-bottom: 10px;
}

.form .right b {
    color: #0b76ce;
}


/* css new  */

.module-news {
    padding-top: 30px;
}

.item-news {
    margin-bottom: 30px;
}

.item-news .text a {
    color: #000;
    margin-bottom: 5px;
    display: block;
    max-height: 48px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
}

.lh2-date i {
    margin-right: 5px;
    color: #0b76ce;
}


/* sidebar  */

.title-sidebar {
    margin-bottom: 0;
    padding: 0 15px;
    line-height: 40px;
    background: #0b76ce;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.title-sidebar i {
    margin-right: 15px;
}

.box-border {
    border: solid 1px #ebebeb;
    padding: 15px 10px;
    margin-bottom: 30px;
}

.lh2-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.box-border ul li a {
    display: block;
    color: #333;
    line-height: 35px;
    border-bottom: dashed 1px #ebebeb;
}

.box-border ul li a i {
    margin-right: 5px;
}

.lh2-pagging {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    padding: 0 10px;
    background: #f6fcff;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px #fcfeff;
}


/* css new-detail  */

.module-news-detail .border {
    padding: 25px 30px;
}

.module-news-detail {
    margin: 20px 0 0 20px;
}

.module-news-detail p.lh2-title1 {
    line-height: 30px;
    color: #0b76ce;
}

p.lh2-title1 {
    font-weight: bold;
    font-size: 26px;
}

.module-news-detail p.lh2-title1 {
    margin-bottom: 15px;
}

.mau2-other {
    margin-top: 40px;
}

.mau2-other .title-other {
    text-transform: uppercase;
    font-weight: bold;
}

p.title-other {
    margin-bottom: 0;
    margin-top: 30px;
    display: inline-block;
    padding: 0 20px;
    color: #fff;
    line-height: 40px;
    background: #0d0d0d;
    box-shadow: 0 2px 5px #585858;
    transform: skew(-15deg);
}

.mau2-other ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mau2-other ul li {
    background: #f6f8fa;
    padding-left: 15px;
    border-left: solid 5px #0b76ce;
}

.mau2-other ul li a {
    color: #333;
    font-weight: 600;
}

.mau2-other ul li a i {
    margin-right: 5px;
}